/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ffa500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #394549;
}

#left {
  float: left;
  background-color: #30948D;
  color: white;
  width:33.3%;
  height: 50px;
  padding: 30px,1,30px,1;
  text-align: center
}

#middle {
  float: left;
  background-color: #9e1212;
  color: white;
  width:33.3%;
  height: 50px;
  padding: 30px,1,30px,1;
  text-align: center
}

#right {
  float: left;
  background-color: #30948D;
  color: white;
  width: 33.3%;
  height: 50px;
  padding: 30px,1px,30px,1px;
  text-align: center
}

#full {
  background-color: #a6b747;
  width: 100%;
  background: #394549;
}

#division {
  background-color: #6ea3da
}

aside {
  color:white;
  float: left;
}

footer {
  background: #ffa500;
  padding: 20px;
  margin-bottom: 20px;
}